body > div:nth-child(2) {
  display: none !important;
}

body
  > footer
  > div.flex.flex-wrap.xl\:flex-row.justify-around.items-center.xl\:items-start.gap-20.xl\:gap-0.w-full.h-full {
  display: none !important;
}

body > footer {
  display: none !important;
}

body > footer > div.flex.flex-wrap-reverse.justify-around.items-center {
  display: none !important;
}

button > img {
  display: none !important;
}

body > typebot-bubble {
  display: none !important;
}
body > footer {
  display: none !important;
}
